<% errors = model.errors %>

<% if errors.any? %>
  <div id="error_explanation" class="alert alert-warning alert-dismissible fade show" role="alert">
    <div class="lead buffer-bottom">
      <%= errors.count %> <%=t("controllers.subscriptions.errors.word", count: errors.count) %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <ul>
      <% errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
