<h1 class="mt-5"><%= I18n.t "events#index.label", count:@events.size %></h1>

<div class="my-4">
  <%= link_to t("events#index.create-button"), new_event_path, class: 'btn btn-success' %>
</div>

<div class="row buffer-bottom">
  <%= render partial: 'events/event', collection: @events %>
</div>

