<div class="subscription mt-2">
  <% if subscription.user.present? %>
    <%= render partial: 'users/user', object: subscription.user %>
  <% else %>
    <%= default_avatar %>
    <%= subscription.user_name %>
  <% end %>
  <% if current_user_can_edit?(subscription) %>
    <%= link_to(
          fa_icon('times'),
          event_subscription_path(subscription.event, subscription),
          method: :delete,
          data: { confirm: t('subscription.destroy_confirm') }
        ) %>
  <% end %>
</div>

