<p id="notice"><%= t("subscription.notice") %></p>

<%= link_to t("events.show.edit-button"), edit_subscription_path(@subscription) %> |
<%= link_to t("events_form.back-button"), subscriptions_path %>
